{# src/fbeck/HomeBundle/Resources/views/Home/bye.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma deuxieme page avec le Site du Zéro !</title>
  </head>
  <body>
    <h1>Goodbye {{ nom }} !</h1>

    <p>
      On va voir si ca marche!
    </p>
  </body>
</html>