{# src/fbeck/AdminBundle/Resources/views/Home/index.html.twig #}

{% extends "fbeckAdminBundle::layout.html.twig" %}

{% block fbeck_admin_body %}

  <h2>List of all our awesome users</h2>
  <ul class="all_users">
    {% for user in users %}
		<a href="{{ path('fbeck_admin_view', {'id': user.id}) }}"><li >{{ user.username }}</li></a>
	{% endfor %}
  </ul>

{% endblock %}