@font-face
{
	font-family: main;
	src: url(/img/awesome.otf);
}

#header {
	background-color: #40CFFF;
	margin-top: 20px;
}

#header h1 {
	font-family: main;
	font-size: 190px;
	color: rgb(51, 51, 51);
}

#header a:hover, #header h1:hover {
	text-decoration: none;
	color: #005580
}

 h1 {
 	font-family: main;
 	font-size: 100px;
 }

h2 {
	font-family: main;
	font-size: 50px;
}

a.contact p {
	font-family: main;
	font-size: 30px;
	color: rgb(51, 51, 51);
}

a.contact:hover, a.contact:hover p {
	text-decoration: none;
	color: #FF8973
}

#menu {
	background-color: #FF8973;
}
#menu div, .main_body{
	padding: 20px;
}

.box {
	-webkit-box-shadow: 2px 2px 5px 3px #787878;
	box-shadow: 2px 2px 5px 3px #787878;
	border-radius: 5px;
}

.status {
	background-color: #FFD673;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}

.all_users{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

.all_users a:hover {
	text-decoration: none;
}

.all_users a li:hover {
	background-color: #23EB8B;
}

.all_users a li {
	padding: 10px;
	background: #A3FFD3;
	margin-bottom: 2px;
	color: rgb(51, 51, 51);
	border-radius: 20px;
}

.user {
	background: #A3FFD3;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.view_user {
	background: #A3FFD3;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.edit_user {
	background: #A3FFD3;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

#fbeck_userbundle_user div:nth-child(n+3) {
	display: inline-block;
	margin: 10px;
	text-align: center;
}

